.card {
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
  color: inherit;
}

.posterWrap {
  aspect-ratio: 2 / 3;
  width: 100%;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
  background-color: grey;
  border: none;
  width: 100%;
  height: 24px;
}

.deleteButton:hover {
  background-color: darkred;
  color: white;
}

.title {
  padding-top: 0.6rem;
  height: 2.4rem;
}

.releaseYear {
  padding-top: 0.6rem;
}
