.card {
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
  color: inherit;
}

.posterWrap {
  aspect-ratio: 2 / 3;
  width: 100%;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.title {
  margin: 0;
  padding: 0.6rem 0.75rem;
}
