.page {
  max-width: 1000px;
  margin: 0 auto;
}

.layout {
  display: flex;
  gap: 2rem;
}

.posterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.poster {
  width: 300px;
  flex-shrink: 0;
}

.addButton {
  cursor: pointer;
  background-color: darkgreen;
  border: none;
  width: 100%;
  height: 24px;
}

.addButton:hover {
  background-color: green;
  color: white;
}

.deleteButton {
  cursor: pointer;
  background-color: darkred;
  border: none;
  width: 100%;
  height: 24px;
}

.deleteButton:hover {
  background-color: red;
  color: white;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
