.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid grey;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
}

.logo {
  font-size: 1.75rem;
  color: lightgrey;
}

.title {
  margin: 0;
  font-size: 1.75rem;
  color: lightgrey;
}

.right {
  display: flex;
  align-items: center;
}
