* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #555 #181818;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #181818;
  color: lightgrey;
  overflow: hidden;
}
