* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #181818;
  color: lightgrey;
  overflow-y: auto;
}

/* App shell layout */
html,
body,
#root,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1;
  padding: 1rem;
}
