.navBar {
  border-bottom: solid 2px grey;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navLeft a,
.navRight a {
  text-decoration: none;
  text-transform: uppercase;
}
